doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
  title Automatic Fabric
  link(rel='stylesheet' href='/assets/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet' href='/assets/css/styles.css')
.container.text-center(style='width: 60%;padding: 0px;margin-top: 5%;')
  h2 Automatic Fabric CP
  p Welcome back, #{user}.
  .table-responsive.table-borderless
    table.table.table-sm
      tbody
        tr
          td.text-center(style='width:160px;')
            if(isadmin)
              a.btn.btn-light(role='button' href='/admin' target='_blank' style='width:150px;margin-bottom:10px;') Admin CP
            else
              a.btn.btn-light(role='button' href='/new' style='width:150px;margin-bottom:10px;') Create New
            a.btn.btn-light(role='button' href='/settings' style='width:150px;margin-bottom:10px;') Settings
            a.btn.btn-light(role='button' href='/logout' style='width:150px;margin-bottom:10px;') Logout
          td.text
            .table-responsive.table-bordered
              table.table.table-sm
                tbody
                  tr
                    td.text-left
                      h5 Pending
                  if(data)
                    if(data.pending)
                      each val, index in data.pending
                        tr
                          td.text-left(width='50%') #{val.id}
                          if(val.filled)
                            td.text-left
                              a(href='/fill/'+val.id) edit info
                          else
                            td.text-left
                              a(href='/fill/'+val.id style='color:red') fill info
                  tr
                    td.text-left
                      h5(style='margin-top:10px') Finished
                      if(data)
                        if(data.finished)
                          each val, index in data.finished
                            tr
                              td.text-left(width='50%')
                                a(href='/download/'+val.id) #{val.id}
script(src='assets/js/jquery.min.js')
script(src='assets/bootstrap/js/bootstrap.min.js')
