doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
  title Cathay BC Services
  link(rel='stylesheet' href='assets/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet' href='assets/css/styles.css')
script(src='assets/js/jquery.min.js')
script(src='assets/js/openpgp.min.js')
script(src='assets/js/filereader.js')
script(src='assets/bootstrap/js/bootstrap.min.js')
script(type='text/javascript').
  $(function() {
  var changeattribute = function() {
  document.getElementById('sign').disabled = true;
  document.getElementById('sign').textContent = 'Signing Command';
  return;
  }
  var signcommand = async function() {
  $('#send').hide();
  $('#command').hide();
  $('#command-button').hide();
  $('#serversig').hide();
  $('#serversig-button').hide();
  $('#prvkey').hide();
  $('#prvkey-button').hide();
  var dt = new Date();
  var time = -(dt.getTime());
  const command = $("#command").val();
  const privateKeyArmored = $("#prvkey").val();
  const { keys: [privateKey] } = await openpgp.key.readArmored(privateKeyArmored);
  const { signature: detachedSignature } = await openpgp.sign({
  message: openpgp.cleartext.fromText(command),
  privateKeys: [privateKey],
  detached: true
  });
  $("#orgsig").val(detachedSignature);
  $('#time-report').text('.');
  dt = new Date();
  time += (dt.getTime());
  $('#time-report').text('Signed in ' + time + ' ms');
  $('#sign').hide();
  $('#send').show();
  $('#orgsig').show();
  };
  FileReaderJS.setupDrop(document.body, {
  readAsDefault: "Text",
  on: {
  load: async function(e, file) {
  $('#prvkey').text(e.target.result);
  $('#sign').show();
  $('#prvkey-button').show();
  $('#dropzone').hide();
  }
  }
  });
  $('#send').hide();
  $('#orgsig').hide();
  $('#sign').hide();
  $('#prvkey').hide();
  $('#prvkey-button').hide();
  $('#sign').click(async function() {
  await changeattribute();
  signcommand();
  });
  $('#prvkey-button').click(function() {
  $('#prvkey').toggle();
  });
  $('#command-button').click(function() {
  $('#command').toggle();
  });
  $('#serversig-button').click(function() {
  $('#serversig').toggle();
  });
  });
div
  .container(style='width: 80%;height: 60%;')
    .row
      .col-md-6(style='max-width: 20%;margin-top: 98px')
      .col-md-6(style='max-width: 60%;min-width: 60%;text-align:center')
        h1.text-center(style='margin-top: 20px;') Signing Portal
        p(style='text-align:justify')
          | Please verify the following command and upload your key for signing. The process will be done locally.
        form(role='form' autocomplete='off' method='post' enctype='application/json' action='/writekey')
          button#command-button.btn.btn-light(type='button' style='margin-bottom:10px;width:180px')
            small View Command
          textarea#command.form-control.collapse(name='command' readonly='' style='background-color:white;margin-bottom:20px;min-height:200px') test
          br
          button#serversig-button.btn.btn-light(type='button' style='margin-bottom:10px;width:180px')
            small View Server Signature
          textarea#serversig.form-control.collapse(name='serversig' readonly='' style='background-color:white;margin-bottom:20px;min-height:200px')
          textarea#orgsig.form-control(name='orgsig' readonly='' style='background-color:white;margin-bottom:0px;min-height:200px')
          br
          button#send.btn.btn-danger(type='submit' style='margin-bottom:-20px') Send Command
        p#dropzone(style='padding-top:50px;padding-bottom:50px;border-style: solid;margin-bottom:20px') Please drag your keyfile here
        button#prvkey-button.btn.btn-light(type='button' style='margin-bottom:10px;width:180px')
          small View Local Key
        textarea#prvkey.form-control.collapse(name='prvkey' disabled='' readonly='' style='min-height:200px;margin-bottom:20px')
        br
        button#sign.btn.btn-primary Sign Command
        small#time-report
        .col-md-6(style='max-width: 20%;margin-top: 80px')
